codersrank-summary {
  --bg-color: transparent;
  --badge-bg-color: #161616;
  --badge-text-color: #fff;
  --badges-padding: 0px;
  --badge-padding: 8px;
  --badge-margin: 16px;
  --badge-border-radius: 8px;
  --badge-rank-font-size: 16px;
  --badge-technology-font-size: 18px;
  --badge-location-font-size: 16px;
  --badge-icon-size: 32px;
  --badge-border: 1px solid rgba(0, 0, 0, 0.1);
  --badge-box-shadow: none;
}